*{
    -paavari: azure;
    -lisavari: #ffff00;
    -tausta: #ff0000;
    
}

#labelvaara{
    -fx-text-fill: #a5083c;
    -fx-font-weight: bold;
}
.mainFxmlClass {
    -fx-background-color: #999999;   
    -fx-background-image: url(deep-blue-ocean-waves.jpg);
}

.button{

    -fx-background-color: darkmagenta;
    -fx-border-color: #66a1a5;
    -fx-text-fill: #ffff7a;

    -fx-effect: dropshadow(three-pass-box, -paavari, 5, 0.01, 0, 0);
}
.menu, .menu-item, .menu-bar, .label, .combo-box-base, .combo-box, .text-input,
.text-field, .radio-button, .check-box,.text-field{   
    -fx-background-color: #330066; 
    -fx-text-fill: #ffffff;
    -fx-padding: 5.0;
    -fx-effect: innershadow(gaussian,-paavari,10,0.0,0,0);
}
.combo-box .cell:selected{
    -fx-text-fill: #ffffff;
}
.teksti{
    -fx-background-color: #330066;
}



.table-view, .table-view:focused .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.separator{
    -visible: hidden;
}